body {
  background-image: url("tree.jpg");
}
h1 {
  font-size: 100px;
  text-align: center;
}

a {
  font-size: 70px;
  text-align: center;
  text-decoration: none;
}

a:link{color:white;}
a:visited{color:white;}
a:hover{color:black;}
